#root {
  max-width: 500px;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.divider {
  font-weight: bold;
}

.page-header--header {
  margin-bottom: 1em;
}

.page-header--logo {
  margin: 0;
  padding: 0;
}

.page-title--section {
  margin-bottom: 2em;
  max-width: 100%;
}

.page-title--heading {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0.3em;
}

.hero-section {
  max-width: 100%;
}

.hero-section--image {
  width: 320px;
  height: auto;
}

.about-me--section {
  max-width: 100%;
}

/* CSS for the connect section */

.connect-section--link {
  display: flex;
  align-items: center;
  gap: 1em;
  max-width: 100%;
}

.icon {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}
.icon:hover {
  filter: drop-shadow(0 0 2em #18000a);
}
.icon.react:hover {
  filter: drop-shadow(0 0 2em #18000a);
}

a {
  font-weight: 600;
  color: var(--main-font-color--diesel);
  text-decoration: inherit;
}

a:hover {
  filter: drop-shadow(0 0 2em #18000a);
}
a.react:hover {
  filter: drop-shadow(0 0 2em #18000a);
}

@media screen and (min-width: 500px) {
  #root {
    margin: 0 auto;
    max-width: 800px;
    gap: 1.5em;
  }

  .page-title--heading {
    font-size: 3.5em;
    margin-top: 0;
    margin-bottom: 0.3em;
  }

  .page-title--tags {
    font-size: 1.2em;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .hero-section--image {
    width: 420px;
    height: "auto";
  }

  .section--heading {
    font-size: 2.3em;
  }

  .about-me--section--paragraph {
    font-size: 1.1em;
    max-width: 65%;
  }

  .connect-section--link {
    font-size: 1.1em;
  }
}
